<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478172433673-755qeqcvo5psfqg2u1u8didqk8l6osq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478172433673-755qeqcvo5psfqg2u1u8didqk8l6osq4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_c0xaw17zhMpwo4F-_vi5IuSkuAoyhsI</string>
	<key>GCM_SENDER_ID</key>
	<string>478172433673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team.HP</string>
	<key>PROJECT_ID</key>
	<string>higherpurpose-65a23</string>
	<key>STORAGE_BUCKET</key>
	<string>higherpurpose-65a23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478172433673:ios:2337158766d191592c57d8</string>
</dict>
</plist>